# Created by .ignore support plugin (hsz.mobi)

# phpstorm project files
.idea/
*.iml

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# ignore binary bytecode
/out
/bin

